<div>
  <table>
    <tr>
      <th>
        Nickname
      </th>
      <th>
        Location
      </th>
      <th>
        Store
      </th>
      <th>
        ETA
      </th>
    </tr>
    <tr *ngFor="let courier of couriers | async">
      <td>{{ courier.nickname }}</td>
      <td>{{ courier.pickUpLocation }}</td>
      <td>{{ courier.store.chain.name }}</td>
      <td>{{ courier.eta | date:'shortTime' }}</td>
      <td><button (click)="chooseCourier(courier)">Choose courier</button></td>
    </tr>
  </table>
</div>
<div>
  <a href="/courier-signup">Become a courier!</a>
</div>
